.vim/.netrwhist
**/plugged
**/.history
.vim/.vim
.tmux/.tmux

.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/ac-comphist.dat
.emacs.d/network-security.data
.emacs.d/.emacs.desktop*
.emacs.d/transient/**
.emacs.d/.lsp-session*
.emacs.d/recentf
.emacs.d/eln-cache
.emacs.d/history
.emacs.d/settings.el
